.Modal {
    position: fixed;
    z-index: 500;
    width: 70%;
    border: 1px solid rgb(139, 60, 60);
    background-color: white;
    box-sizing: border-box;
    box-shadow: 1px 1px 1px black;
    padding: 16px;
    left: 15%;
    top: 10%;
    transition: all 0.3s ease-out;
}

.Cancel_btn {
    cursor: pointer;
    background: none;
    border: none;
    color: rgb(139, 60, 60);
}

@media (min-width: 600px) {
    .Modal {
        width: 500px;
        left: calc(50% - 250px);
    }
}