.Contact_li {
  color: white;
  cursor: pointer;
  padding-bottom: 3px;
}

.Contact_li:hover {
  color: black;
}

.toolbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgb(139, 60, 60);
  height: 56px;
}

.toolbar-logo {
  margin-left: 0.6rem;
  margin-right: 0.5rem;
  padding-bottom: 7px;
}

.toolbar-nav {
  display: flex;
  flex-direction: row;
  height: 100%;
  align-items: center;
  padding: 0 1rem;
}

.toolbar-nav-links ul {
  margin: 0;
  padding: 0;
  display: flex;
}

.toolbar-nav-links li {
  padding: 0 0.5rem;
}

.toolbar-nav-links a {
  color: white;
}

.toolbar-logo a {
  color: white;
  list-style: none;
  font-size: 1.5rem;
}

.toolbar-nav-links a:hover,
.toolbar-nav-links a:active {
  color: black;
}

.icon a:hover {
  color: black;
}

.space {
  flex: 1;
}

@media (max-width: 500px) {
  .toolbar-nav-links {
    display: none;
  }
}

@media (min-width: 501px) {
  .toolbar-toggle-btn {
    display: none;
  }

  .toolbar-logo {
    margin-left: 0;
  }
}